

.delete-modal{
    background-color: white;
    min-width:300px ;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 6px 0px rgb(190, 189, 189);
    margin-bottom: 10%;
}
.delete-modal:hover {
    box-shadow: 0 4px 6px 1px rgb(190, 189, 189);
}
.actions-delete{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.actions-delete-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.actions-delete button , #ok-delete{
    padding: 5px;
    height: 32px;
    width: 55px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 0 4px 4px 0px rgb(190, 189, 189);
}
.actions-delete button:hover , #ok-delete:hover{
    opacity: 1;
    box-shadow: 0 4px 6px 1px rgb(190, 189, 189);
}
#delete-btn{
    color: white;
    background-color: #ff0000;
}

#delete-message{
    color: rgb(106, 10, 215);
    font-size: 20px;
}